In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [130]:
tech = pd.read_csv('/Users/annamezhlauk/Desktop/ECO225Project/Data/Tech_salaries.csv')

display(tech.head())

print(tech.dtypes)

missing = tech.isnull().sum()

print(missing)

tech.describe()

,index,salary_id,employer_name,location_name,location_state,location_country,location_latitude,location_longitude,job_title,job_title_category,job_title_rank,total_experience_years,employer_experience_years,annual_base_pay,signing_bonus,annual_bonus,stock_value_bonus,comments,submitted_at
0,0,1,opower,"san francisco, ca",CA,US,37.77,-122.41,systems engineer,Engineering,NaN,13.0,2.0,125000.0,5000.0,0.0,5000 shares,Don't work here.,3/21/16 12:58
1,1,3,walmart,"bentonville, ar",AR,US,36.36,-94.20,senior developer,Software,Senior,15.0,8.0,65000.0,NaN,5000.0,"3,000",NaN,3/21/16 12:58
2,2,4,vertical knowledge,"cleveland, oh",OH,US,41.47,-81.67,software engineer,Software,NaN,4.0,1.0,86000.0,5000.0,6000.0,0,NaN,3/21/16 12:59
3,3,6,netapp,waltham,NaN,NaN,NaN,NaN,mts,Other,NaN,4.0,0.0,105000.0,5000.0,8500.0,0,NaN,3/21/16 13:00
4,4,12,apple,cupertino,NaN,NaN,NaN,NaN,software engineer,Software,NaN,4.0,3.0,110000.0,5000.0,7000.0,150000,NaN,3/21/16 13:02

index                          int64
salary_id                      int64
employer_name                 object
location_name                 object
location_state                object
location_country              object
location_latitude            float64
location_longitude           float64
job_title                     object
job_title_category            object
job_title_rank                object
total_experience_years       float64
employer_experience_years    float64
annual_base_pay              float64
signing_bonus                float64
annual_bonus                 float64
stock_value_bonus             object
comments                      object
submitted_at                  object
dtype: object
index                           0
salary_id                       0
employer_name                   4
location_name                   0
location_state               1097
location_country              863
location_latitude             863
location_longitude            863
job_title                       0
job_title_category              0
job_title_rank               1230
total_experience_years         47
employer_experience_years      47
annual_base_pay                 4
signing_bonus                 323
annual_bonus                  319
stock_value_bonus             409
comments                     1363
submitted_at                    0
dtype: int64

,index,salary_id,location_latitude,location_longitude,total_experience_years,employer_experience_years,annual_base_pay,signing_bonus,annual_bonus
count,1655.000000,1655.000000,792.000000,792.000000,1608.000000,1608.000000,1.651000e+03,1.332000e+03,1.336000e+03
mean,827.000000,1684.100906,37.754394,-64.712273,6.756113,2.656163,6.325004e+06,2.240563e+04,1.177552e+04
std,477.901664,932.901390,16.740905,67.090364,5.687004,3.301834,2.461353e+08,3.097990e+05,6.921569e+04
min,0.000000,1.000000,-41.000000,-123.270000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,413.500000,897.000000,37.410000,-102.702500,3.000000,1.000000,6.100000e+04,0.000000e+00,0.000000e+00
50%,827.000000,1711.000000,38.580000,-95.000000,5.000000,2.000000,9.948000e+04,0.000000e+00,5.000000e+02
75%,1240.500000,2477.000000,45.440000,-64.562500,10.000000,3.000000,1.300000e+05,5.000000e+03,1.000000e+04
max,1654.000000,3298.000000,65.000000,174.000000,56.000000,58.000000,1.000000e+10,8.999999e+06,2.000000e+06

In [131]:
non_interval = ['index', 'salary_id', 'location_latitude', 'location_longitude']

tech[non_interval] = tech[non_interval].astype(str)

tech.describe(percentiles=None, include=None, exclude=None)

print(tech.dtypes)

index                         object
salary_id                     object
employer_name                 object
location_name                 object
location_state                object
location_country              object
location_latitude             object
location_longitude            object
job_title                     object
job_title_category            object
job_title_rank                object
total_experience_years       float64
employer_experience_years    float64
annual_base_pay              float64
signing_bonus                float64
annual_bonus                 float64
stock_value_bonus             object
comments                      object
submitted_at                  object
dtype: object

In [132]:
tech['annual_base_pay'] = tech['annual_base_pay']/1000
tech['signing_bonus'] = tech['signing_bonus']/1000
tech['annual_bonus'] = tech['annual_bonus']/1000

tech.rename(columns={'signing_bonus': 'signing_bonus_1000s', 'annual_base_pay': 'annual_base_pay_1000s', 'annual_bonus': 'annual_bonus_1000s'}, inplace=True)
tech.head()

print(tech.dtypes)

index                         object
salary_id                     object
employer_name                 object
location_name                 object
location_state                object
location_country              object
location_latitude             object
location_longitude            object
job_title                     object
job_title_category            object
job_title_rank                object
total_experience_years       float64
employer_experience_years    float64
annual_base_pay_1000s        float64
signing_bonus_1000s          float64
annual_bonus_1000s           float64
stock_value_bonus             object
comments                      object
submitted_at                  object
dtype: object

In [133]:
print(tech['annual_base_pay_1000s'].isnull().sum())
print(tech['annual_base_pay_1000s'].value_counts().get(0,0))

4
3

In [134]:
print(tech.describe())

# Trying to figure out why my histogram looks so odd with just one bin (0-0.1)

tech_sorted = tech.sort_values(by='annual_base_pay_1000s', ascending=True)

print(tech_sorted.head(40))

#sns.histplot(tech['annual_base_pay_1000s'], bins=50, kde=False)
#plt.title('Salary Distribution')
#plt.xlabel('Annual Base Pay in 1000s of Dollars')
#plt.ylabel('Frequency')
#plt.show()

       total_experience_years  employer_experience_years  \
count             1608.000000                1608.000000
mean                 6.756113                   2.656163
std                  5.687004                   3.301834
min                  0.000000                   0.000000
25%                  3.000000                   1.000000
50%                  5.000000                   2.000000
75%                 10.000000                   3.000000
max                 56.000000                  58.000000

       annual_base_pay_1000s  signing_bonus_1000s  annual_bonus_1000s
count           1.651000e+03          1332.000000         1336.000000
mean            6.325004e+03            22.405627           11.775525
std             2.461353e+05           309.799006           69.215695
min             0.000000e+00             0.000000            0.000000
25%             6.100000e+01             0.000000            0.000000
50%             9.948000e+01             0.000000            0.500000
75%             1.300000e+02             5.000000           10.000000
max             1.000000e+07          8999.999000         2000.000000
     index salary_id                           employer_name  \
382    382       834                                     sef
1361  1361      2708                                      :)
1143  1143      2293                                    self
18      18        40                                  oracle
306    306       653                            self emplyed
1017  1017      2052                               freelance
744    744      1553        john hopkins applied physics lab
619    619      1318                                  netapp
458    458       991                                 workday
1224  1224      2450                                  comsip
28      28        62                     early-stage startup
15      15        36                                    sqli
1000  1000      2020                                facebook
1095  1095      2206                                bc hydro
1649  1649      3287  mainz brady group - contractor at nike
1654  1654      3298                                linkedin
1507  1507      3007                               jobteaser
346    346       736                             avl germany
57      57       129                                 booking
1121  1121      2253                                enbridge
1205  1205      2406                             bae systems
1029  1029      2072                                  intuit
481    481      1032                                  google
1113  1113      2242                            epic systems
1499  1499      2993                                clickbus
239    239       527                                  dukker
1233  1233      2464                               teespring
357    357       762                                    yelp
1096  1096      2207                                  google
910    910      1867                                    etsy
1304  1304      2600                                  google
98      98       227                           small web biz
125    125       287                                 dropbox
1300  1300      2593                               justin.tv
848    848      1746                                 trendco
364    364       786                                  secret
1074  1074      2165                            bloomberg lp
1545  1545      3076                  central  of las villas
1012  1012      2042                           ui programmer
1339  1339      2660                                employer

                  location_name location_state location_country  \
382           san francisco, ca             CA               US
1361                  hong kong            NaN               HK
1143               williamsburg            NaN              NaN
18              bala cynwyd, pa             PA               US
306              warsaw, poland            NaN               PL
1017                     remote            NaN              NaN
744                    maryland             MD               US
619                     raleigh            NaN              NaN
458                  pleasanton            NaN              NaN
1224                      korea            NaN              NaN
28            stockholm, sweden            NaN               SE
15                     bordeaux            NaN              NaN
1000              new york,  ny             NY               US
1095              vancouver, bc             BC               CA
1649              beaverton, or             OR               US
1654                  sunnyvale            NaN              NaN
1507                      paris            NaN              NaN
346                      munich            NaN              NaN
57                    amsterdam            NaN              NaN
1121  edmonton, alberta, canada            NaN               CA
1205      boston, massachusetts             MA               US
1029          mountain view, ca             CA               US
481                     seattle            NaN              NaN
1113                madison, wi             WI               US
1499                  sao paulo            NaN              NaN
239                      4chinz            NaN              NaN
1233              san francisco            NaN              NaN
357                          sf            NaN              NaN
1096                los angeles            NaN              NaN
910               new york city             NY               US
1304                         sf            NaN              NaN
98                    palo alto            NaN              NaN
125               san francisco            NaN              NaN
1300              san francisco            NaN              NaN
848                  california             CA               US
364                      london            NaN              NaN
1074         new york, new york             NE               US
1545          santa clara, cuba            NaN               CU
1012                  argentina            NaN               AR
1339                   location            NaN              NaN

     location_latitude location_longitude                       job_title  \
382              37.77            -122.41                         founder
1361             22.27             114.19        junior software engineer
1143               nan                nan                        musician
18               40.01             -75.22            student intern co-op
306               52.0               20.0                       developer
1017               nan                nan      web development consultant
744               38.0              -97.0                 research intern
619                nan                nan                          intern
458                nan                nan                   summer intern
1224               nan                nan                           icaps
28                62.0               15.0                   ios developer
15                 nan                nan              it project manager
1000             40.71             -73.99             executive assistant
1095              60.0              -95.0            engineer-in-training
1649             45.49             -122.8             front-end developer
1654               nan                nan       business analytics intern
1507               nan                nan                senior developer
346                nan                nan               software engineer
57                 nan                nan                  perl developer
1121              60.0              -95.0     contract software developer
1205             42.35             -71.06                  burlington, ma
1029             37.41            -122.05               software engineer
481                nan                nan                             sde
1113              43.1              -89.5              software developer
1499               nan                nan                       front end
239                nan                nan                professional hoe
1233               nan                nan               software engineer
357                nan                nan               software engineer
1096               nan                nan                         sre swe
910               38.0              -97.0        senior software engineer
1304               nan                nan               software engineer
98                 nan                nan                        engineer
125                nan                nan               software engineer
1300               nan                nan  communist sympathizer engineer
848               38.0              -97.0                             swe
364                nan                nan            quant algo developer
1074              38.0              -97.0        senior software engineer
1545              21.5              -80.0      senior fullstack developer
1012             -34.0              -64.0                   php developer
1339               nan                nan                     job title *

     job_title_category job_title_rank  total_experience_years  \
382          Management            NaN                    20.0
1361           Software         Junior                     1.0
1143              Other            NaN                     8.0
18                Other         Intern                     0.0
306            Software            NaN                     6.0
1017                Web            NaN                     7.0
744               Other         Intern                     1.0
619               Other         Intern                     2.0
458               Other         Intern                     0.0
1224              Other            NaN                     2.0
28             Software            NaN                     8.0
15           Management            NaN                     8.0
1000         Management            NaN                    10.0
1095        Engineering            NaN                     3.0
1649                Web            NaN                     2.0
1654              Other         Intern                     2.0
1507           Software         Senior                     8.0
346            Software            NaN                     2.0
57             Software            NaN                    10.0
1121           Software            NaN                    16.0
1205              Other            NaN                    10.0
1029           Software            NaN                     1.0
481            Software            NaN                     0.0
1113           Software            NaN                     0.0
1499                Web            NaN                    10.0
239               Other            NaN                    55.0
1233           Software            NaN                     8.0
357            Software            NaN                     3.0
1096           Software         Senior                     7.0
910            Software         Senior                     4.5
1304           Software            NaN                     1.0
98          Engineering            NaN                     2.0
125            Software            NaN                     5.0
1300        Engineering            NaN                     7.0
848            Software            NaN                     3.0
364            Software            NaN                    12.0
1074           Software         Senior                    10.0
1545                Web         Senior                    18.0
1012           Software            NaN                     7.0
1339              Other            NaN                     1.0

      employer_experience_years  annual_base_pay_1000s  signing_bonus_1000s  \
382                        1.00                0.00000                0.000
1361                       1.00                0.00000                0.000
1143                       2.00                0.00000                0.000
18                         0.00                0.02400                0.000
306                        3.00                0.02800                0.000
1017                       2.00                0.03000                0.000
744                        0.00                0.03000                0.000
619                        0.25                0.03100                0.000
458                        0.00                0.03200                0.000
1224                       2.00                0.03500                  NaN
28                         0.80                0.03650                0.000
15                         3.00                0.03800                0.000
1000                       5.00                0.04000                  NaN
1095                       1.50                0.04596                0.000
1649                       1.00                0.05000                  NaN
1654                       0.00                0.05000                0.000
1507                       3.00                0.05500                  NaN
346                        2.00                0.06000                0.000
57                         1.00                0.06170                  NaN
1121                       1.00                0.06900                0.000
1205                       1.00                0.09000                  NaN
1029                       1.00                0.10200                0.010
481                        0.00                0.11000                0.005
1113                       2.30                0.11400               10.000
1499                       1.00                0.11700                0.000
239                       40.00                0.12000                0.120
1233                       2.00                0.12500                  NaN
357                        1.50                0.13000                0.000
1096                       3.00                0.13100               20.000
910                        3.50                0.13500                0.000
1304                       1.00                0.13600                0.010
98                         0.20                0.14000                0.010
125                        2.50                0.14000                0.030
1300                       3.00                0.14000                0.010
848                        3.00                0.15000                0.100
364                        9.00                0.15642                  NaN
1074                       2.00                0.17000                0.000
1545                      15.00                0.24000                0.000
1012                       0.50                0.90000                  NaN
1339                       1.00                1.00000                0.100

      annual_bonus_1000s stock_value_bonus  \
382                0.000                 0
1361               0.000                 0
1143               0.000                 0
18                 0.000                $0
306                0.000                 0
1017               0.000                 0
744                0.000               NaN
619                0.000                 0
458                0.000                 0
1224               0.004               NaN
28                 0.000                 0
15                 0.000                 0
1000              10.000            20,000
1095               0.000                 0
1649                 NaN              none
1654               0.000                 0
1507                 NaN               NaN
346                0.000                 0
57                25.000           35k USD
1121               0.000                 0
1205                 NaN               NaN
1029              12.000             15000
481                0.015                45
1113              10.000               NaN
1499               0.000               NaN
239                0.012                12
1233                 NaN               NaN
357                0.000                50
1096              20.000            100000
910                0.000              3718
1304               0.020                40
98                   NaN               NaN
125                0.000               NaN
1300               0.010               200
848                0.020                 0
364               99.540           10K GBP
1074               0.030                 0
1545               0.000                 0
1012                 NaN               NaN
1339               0.100               100

                                               comments   submitted_at
382                                             Kill me  3/21/16 13:59
1361                                                NaN   3/22/16 1:02
1143                                                NaN  3/21/16 19:46
18                                                  NaN  3/21/16 13:06
306                                                 NaN  3/21/16 13:49
1017                                                NaN  3/21/16 17:52
744                                               Never  3/21/16 15:14
619                                                 NaN  3/21/16 14:38
458                                      housing + food  3/21/16 14:11
1224                                                NaN  3/21/16 21:26
28    Yup. That's what I make. And trust me, I'm a p...  3/21/16 13:09
15                                                  NaN  3/21/16 13:05
1000                                                NaN  3/21/16 17:39
1095  Not involved with software dev or traditional ...  3/21/16 19:01
1649               No paid sick leave or paid vacation.   3/23/16 8:16
1654                                                NaN   3/23/16 9:12
1507                                                NaN   3/22/16 6:23
346                                                 NaN  3/21/16 13:53
57                                                  NaN  3/21/16 13:15
1121                                                NaN  3/21/16 19:28
1205                                                NaN  3/21/16 20:48
1029       I'm technically hourly @ $49/hour + overtime  3/21/16 18:01
481                        New Hire - College Grad (MS)  3/21/16 14:14
1113                                                NaN  3/21/16 19:21
1499                                               none   3/22/16 5:55
239                                      OP is a faggot  3/21/16 13:42
1233                                                NaN  3/21/16 21:36
357                                                 NaN  3/21/16 13:55
1096                                                NaN  3/21/16 19:03
910                                                 NaN  3/21/16 16:35
1304                                                NaN  3/21/16 23:04
98                                                  NaN  3/21/16 13:24
125                                                 NaN  3/21/16 13:27
1300                                                NaN  3/21/16 22:56
848                                                 NaN  3/21/16 15:56
364                                                 NaN  3/21/16 13:56
1074                                                NaN  3/21/16 18:41
1545                            Annual Base Pay  in USD   3/22/16 8:15
1012                                                NaN  3/21/16 17:49
1339                                                NaN   3/22/16 0:06

In [135]:
tech.head()

,index,salary_id,employer_name,location_name,location_state,location_country,location_latitude,location_longitude,job_title,job_title_category,job_title_rank,total_experience_years,employer_experience_years,annual_base_pay_1000s,signing_bonus_1000s,annual_bonus_1000s,stock_value_bonus,comments,submitted_at
0,0,1,opower,"san francisco, ca",CA,US,37.77,-122.41,systems engineer,Engineering,NaN,13.0,2.0,125.0,5.0,0.0,5000 shares,Don't work here.,3/21/16 12:58
1,1,3,walmart,"bentonville, ar",AR,US,36.36,-94.2,senior developer,Software,Senior,15.0,8.0,65.0,NaN,5.0,"3,000",NaN,3/21/16 12:58
2,2,4,vertical knowledge,"cleveland, oh",OH,US,41.47,-81.67,software engineer,Software,NaN,4.0,1.0,86.0,5.0,6.0,0,NaN,3/21/16 12:59
3,3,6,netapp,waltham,NaN,NaN,nan,nan,mts,Other,NaN,4.0,0.0,105.0,5.0,8.5,0,NaN,3/21/16 13:00
4,4,12,apple,cupertino,NaN,NaN,nan,nan,software engineer,Software,NaN,4.0,3.0,110.0,5.0,7.0,150000,NaN,3/21/16 13:02